<%- include ("./partials/_header") %>



<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      
      <% if(typeof bp == 'object' && bp.length > 0) { %>
        <% for (var i = 0; i < bp.length; i++) { %>
          
          <div class="blog-post">
            <h2 class="blog-post-title"><%= bp[i].title %></h2>
            <p class="blog-post-meta"><%= bp[i].post_date %> by <a href="#"><%= bp[i].author %></a>     </p>
            <p><%= bp[i].post_data %></p>
            <a class = "btn btn-danger" href ="/delete/<%= bp[i]._id %>"> Delete </a>
            <a class = "btn btn-info" href ="/edit/<%= bp[i]._id %>"> Edit </a>
          </div>
          
          <%  }   %>
      <% } else { %>
          <h1> There are no Posts </h1>
      <% } %>


    </div>
  </div>
</main>




<%- include ("./partials/_footer") %>